<!DOCTYPE html>
<html>
  <head>
    <title>Où est mon bouquetin ?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>


  <body>

    <div id="map-canvas" style="width:800px;height:600px;"></div>
    
    <script type="text/javascript">
        window.onload= function() {
            Geoportal.load(
            	"map-canvas",
                ['{{ ign_api_key }}'],
                {
                	lon: 7.128371,
  					lat: 44.145992
                },
                10, 
                {
                	layers:['GEOGRAPHICALGRIDSYSTEMS.MAPS'],
					layersOptions: {'GEOGRAPHICALGRIDSYSTEMS.MAPS': {visibility: true, opacity: 1}},
					overlays: {},
					mode: "normal", 
					
					onView: function() {
                        OpenLayers.Control.Click= OpenLayers.Class( OpenLayers.Control, {
                            defaultHandlerOptions:{
                                'single': true,
                                'double': false,
                                'pixelTolerance': 0,
                                'stopSingle': false,
                                'stopDouble': false
                            },

                            /**
                             * Constructor
                             */
                            initialize: function(options) {
                                OpenLayers.Control.prototype.initialize.apply(this,arguments);
                                this.handlerOptions= OpenLayers.Util.extend({},this.defaultHandlerOptions);
                                this.handler= new OpenLayers.Handler.Click(
                                    this, {'click': this.trigger}, this.handlerOptions);
                            },

                            /**
                             * APIMethod: trigger
                             */
                            trigger: function(e) {
                                var lonlat= this.map.getLonLatFromViewPortPx(e.xy).transform(
                                    this.map.getProjection(), OpenLayers.Projection.CRS84
                                );
                                alert("Vous avez cliqué près de " + lonlat.lon + "N, " + lonlat.lat + " E");
                            }
                        });

                        // création et insertion du nouveau contrôleur
                        var monClic= new OpenLayers.Control.Click({
                            autoActivate:true
                        });
                        this.getViewer().getMap().addControl(monClic);
                    }
                }
            );
        };
    </script>

    <script
        type="text/javascript"
        src="http://api.ign.fr/geoportail/api/js/latest/Geoportal.js"
        charset="utf-8">
    </script>
  </body>
</html>